body{
    color:#fff;
    background-color: #242943; 
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

header,
section {
    font-size: 1.6rem;

}


header {
    padding-top:1.55rem;
}

/*header*/
.logo {
    text-transform: uppercase;
}

.logo span {
    background: #fff;
    color: #242943;
    padding: 0.5rem;
    margin-right: 0.4rem;

}


