.text_name{
    text-align: center;
    padding: 150px;
}
h1 p, h3 p, h6 p{
	font-family: 'Arial', sans-serif;
	font-size: 1.5em;
}

h1 { color: #848484;}
h3 { color: rgba(132, 132, 132, 0.5);}
h6 { color: rgba(132, 132, 132, 0.5); font-size: 8px;}

h3 a{
    color: rgba(132, 132, 132, 0.5);
}

.footer {
    position: fixed;
    text-align: center;
    font-size: 75%;
    margin-top: 50px; 
    margin-bottom: 10px;
    bottom:0;left:0;
    right:0;height:30px;
    font-size: 12pt;}