header {
    height: 954px;
    background: url("/assets/img/masthead.jpg") center;
    background-size: cover;
    position: relative;
    // padding-bottom: 54px;
    margin-bottom: 54px;
    
    background-color: red;
    overflow: hidden;
}

#header_text{
    display: inline-block;
    position: relative;
    background-color: yellow;
    left: 21.1458%;
    top: 354px;
    //width: 609px;
    z-index: 2;
}
#header_text p{
    color: aliceblue;
    display: inline-block;
}

.telephon {
    display: inline-block;
    height: 89.5555%; //806px;
    width: 609px;
    //left: 47.1614%; //905.5px;
    top: 201px;
    z-index: 1;
    background: url("/assets/img/iPhone.png") center;
    background-size: cover;
    position:relative;
    float:left;
    background-color: green;
    margin-bottom: 0;
    
}
