*{
    margin: 0px;
    padding: 0px;
    // overflow:hidden;
    // text-overflow:ellipsis;
}

header {
    height: 954px;
    background-color: red;
    background: url("../../assets/img/masthead.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size:contain;
    margin-bottom: 54px;
    z-index: 2;
    //overflow: hidden;
}

.intro{
    display: inline-block;
    position: absolute;
    // background-color: yellow;
    top: 354px;
    z-index: 1;
    
}
.intro__text {
    width: 500px;
    color: aliceblue;
    display: inline-block;
}

.intro__telephone {
    
    // height: 89.5555%; //806px;
    width: 609px;
    height: 806px;
    margin-left: 47.1614%; //905.5px;
    top: 201px;
    background: url("../../assets/img/iPhone.png");
    background-repeat: no-repeat;
    background-size:contain;
    z-index: 10;
    float:left;
}
