* {
    box-sizing: border-box;
    font: "Arial";
}

.container{
    width: 192px;
    margin: auto;
}

.row {
    width: 100%;
    float: left;
    text-align: justify;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {float: left;}

.col-1{width: 21.1458%; }
.col-2{width: 23.4375%; }
.col-3{width: 28.5417%; }
.col-4{width: 35.9896%; }
.col-5{width: 40.7292%; }
.col-6{width: 49.974%; }
.col-7{width: 50.8073%; }
.col-8{width: 53.1771%; }
.col-9{width: 55.7292%; }
.col-10{width: 60.7292%; }
.col-11{width: 65.7031%; }
.col-12{width: 79.6875%; }

